/* App.css */
.app {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars from appearing */
  height: 100vh;
  width: 100vw;
  position: relative; /* Needed for butterfly positioning */
}

.full-screen-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; Ensures video covers the full screen while maintaining aspect ratio */
  z-index: 1;
}

.butterfly {
  position: absolute;
  width: 100px;
  height: 100px;
  transition: all 0.5s ease; /* Smooth transition when the butterfly appears */
  z-index: 3;
}

/* grid  */
.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* Place above the video */
  pointer-events: none; /* Allows click events to pass through the grid overlay */
}

.grid-line {
  position: absolute;
  background-color: red; /* Set grid line color to red */
  opacity: 0.7; /* Slight transparency */
}

/* Vertical lines */
.vertical {
  width: 2px;
  height: 100%;
}

/* Horizontal lines */
.horizontal {
  height: 2px;
  width: 100%;
}


/* RESULTS */

/* Results page styles */
.results-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;
  \ */
  justify-content: space-between; /* More space between elements */
  height: 100vh;
  background-color: #f0f0f0;
  position: relative;
  padding-top: 20px; /* Add some padding at the top */
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 5px;
  width: min(50vmin, 50vw); /* Ensures the grid is square but responsive */
  height: min(45vmin, 45vw); /* Ensures the grid is square but responsive */
  position: relative;
  margin: auto;
  overflow: hidden;
}

.horizontal-axis {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  transform: translateY(-50%);
}

.vertical-axis {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: black;
  transform: translateX(-50%);
}

.results-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: black;
  background-color: rgba(0, 0, 0, 0.1); /* Light color for no detections */
  border: 1px solid black;
}
.results-title {
  color: black;
}



.color-legend {
  margin-top: 30px; /* Increase margin for better spacing */
  margin-bottom: 100px;
  text-align: center;
  width: min(50vmin, 50vw); /* Ensure it aligns with the grid's width */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.legend-title {
  font-weight: bold;
  margin-bottom: 5px;
  color:black; 
}

.legend-scale {
  margin-bottom: 10px; /* Add space between the color bar and labels */
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend-color {
  width: 50px;
  height: 20px;
}

.legend-color.low {
  background-color: rgba(0, 0, 0, 0.8); /* Blue */
}

.legend-color.mid {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.8));
}

.legend-color.high {
  background-color: rgba(255, 255, 255, 0.8); /* Red */
}

.legend-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color: black;
}

.legend-labels span {
  width: 100px;
}